<app-header title="cKYC Operators"></app-header>

<ion-content [fullscreen]="true">

    @if(operators().length > 0) {
        <div class="table-container">

            <div class="mb-4 badges">
                <div class="relative">
                    <div class="absolute inset-y-0 left-0 pl-4 flex items-center pointer-events-none">
                        <svg class="h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /></svg>
                    </div>
                    <input type="text" placeholder="Country Name" class="w-full bg-gray-100 border border-gray-300 text-gray-800 placeholder-gray-500 rounded-full py-3 pl-12 pr-4 focus:outline-none focus:ring-2 focus:ring-indigo-500/50" [value]="operatorsSearchTerm()" (input)="onOperatorsSearch($event)">
                </div>
            </div>

            <!-- Logs Table -->
            <div class="bg-white rounded-xl shadow-md border border-gray-200 overflow-hidden badges">
                <div class="overflow-x-auto rounded-lg">
                    <table class="w-full text-sm text-left text-gray-700">
                        <thead class="text-xs text-white uppercase" style="background-color: #4a5568;">
                            <tr>
                                <th scope="col" class="px-6 py-2">#</th>
                                <th scope="col" class="px-6 py-2">Symbol</th>
                                <th scope="col" class="px-6 py-2">Name</th>
                                <th scope="col" class="px-6 py-2">State</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(loadingOperators) {

                            }
                            @else {
                                <!-- no data -->
                                @if(filteredOperators().length == 0) {
                                    <tr class="bg-white border-b hover:bg-gray-50">
                                        <td class="px-6 py-2">no data</td>
                                    </tr>
                                }
                                @else {
                                    @for(op of filteredOperators(); track op.operator; let i = $index; let isEven = $even;) {
                                        <tr class="border-b" [class.bg-gray-100]="isEven" [class.bg-white]="!isEven" (click)="viewDetails(op)">
                                            <td class="px-6 py-2">{{ i + 1 }}</td>
                                            <td class="px-6 py-2">{{ op.symbol }}</td>
                                            <td class="px-6 py-2">{{ op.name }}</td>
                                            <td class="px-6 py-4">
                                                <span 
                                                    class="px-3 py-1 text-xs font-semibold rounded-full"
                                                    [class.bg-green-100]="op.state === true"
                                                    [class.text-green-800]="op.state === true"
                                                    [class.bg-red-100]="op.state === false"
                                                    [class.text-red-800]="op.state === false"
                                                >
                                                    {{ op.state ? 'Active' : 'Inactive' }}
                                                </span>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    }  
</ion-content>