<ion-content>
  <div class="form-container">
    
    <div class="form-logo">
      <img src="assets/images/tarmiizRegulatorWhite.svg" alt="">
    </div>

    <div class="form-card">
      <div class="form-header">
        <h1>Reset Password</h1>
        <p>Please fill in the form to reset your password</p>
      </div>

      <ion-list class="form-inputs">
        
        <ion-item lines="full" class="form-first">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" required></ion-input>
        </ion-item>

        <ion-item lines="full" class="form-last">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" required></ion-input>
        </ion-item>

      </ion-list>

      <ion-button expand="block" class="form-button">Login</ion-button>

      <div class="form-links-center">
        <a routerLink="/login">Back to login</a>
      </div>
  
    </div>
  
  </div>

</ion-content>