<app-header title="System"></app-header>

<ion-content [fullscreen]="true">

    <ion-segment value="countries">
        <ion-segment-button value="countries" content-id="countries"><ion-label>Countries List</ion-label></ion-segment-button>
        <ion-segment-button value="variables" content-id="variables"><ion-label>System variables</ion-label></ion-segment-button>
    </ion-segment>

    <ion-segment-view>

        <!-- countries -->
        <ion-segment-content id="countries">

            <div class="table-container">

                <ion-searchbar animated="true" placeholder="Country Name" [(ngModel)]="countriesSearchTerm" (ionInput)="filterCountries()"></ion-searchbar>

                <ion-grid>
                    <ion-row class="grid-header">
                        <ion-col size="1" class="text-left">Code</ion-col>
                        <ion-col size="2" class="text-left">Name</ion-col>
                        <ion-col size="4" class="text-left"></ion-col>
                        <ion-col size="1" class="text-left"></ion-col>
                        <ion-col size="1" class="text-left"></ion-col>
                        <ion-col size="3" class="text-center">Currency</ion-col>
                    </ion-row>
                    @if(loadingData) {
                        @for(er of emptyRows; track er) {
                            <ion-row class="alternate-row">
                                <ion-col><ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text></ion-col>
                                <ion-col><ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text></ion-col>
                                <ion-col><ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text></ion-col>
                                <ion-col><ion-skeleton-text [animated]="true" style="width: 180px"></ion-skeleton-text></ion-col>
                                <ion-col><ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text></ion-col>
                            </ion-row>
                        }
                    }
                    @else {
                        @for(country of filteredCountries; track country.countryId; let i = $index;) {
                            <ion-row class="alternate-row">
                                <ion-col size="1" class="text-left">{{ country.countryCode }}</ion-col>
                                <ion-col size="2" class="text-left">{{ country.nameShort }}</ion-col>
                                <ion-col size="4" class="text-left">{{ country.nameFull }}</ion-col>
                                <ion-col size="1" class="text-left">{{ country.alpha2Code }}</ion-col>
                                <ion-col size="1" class="text-left">{{ country.alpha3Code }}</ion-col>
                                <ion-col size="3" class="text-center">{{ country.currencyName }} ({{ country.currencyCode }})</ion-col>
                            </ion-row>
                        }
                    }
        
                </ion-grid>

            </div>

        </ion-segment-content>

        <!-- variables -->
        <ion-segment-content id="variables">

            <div class="table-container">

                <ion-searchbar animated="true" placeholder="Category Name" [(ngModel)]="variablesSearchTerm" (ionInput)="filterVariables()"></ion-searchbar>

                <ion-grid>
                    <ion-row class="grid-header">
                        <ion-col size="6" class="text-left">Category</ion-col>
                        <ion-col size="2" class="text-left">Id</ion-col>
                        <ion-col size="4" class="text-left">Name</ion-col>
                    </ion-row>
                    @if(loadingData) {
                        @for(er of emptyRows; track er) {
                            <ion-row class="alternate-row">
                                <ion-col><ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text></ion-col>
                                <ion-col><ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text></ion-col>
                                <ion-col><ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text></ion-col>
                            </ion-row>
                        }
                    }
                    @else {
                        @for(variable of filteredVariables; track variable.variableId; let i = $index;) {
                            <ion-row [class]="i === 0 || variable.category !== filteredVariables[i - 1].category ? 'alternate-row category-border' : 'alternate-row'">
                                @if(i === 0 || variable.category !== filteredVariables[i - 1].category) {
                                    <ion-col size="6" class="text-left">{{ variable.category }}</ion-col>
                                }
                                @else {
                                    <ion-col size="6" class="text-left"></ion-col>
                                }
                                <ion-col size="2" class="text-left">{{ variable.variableId }}</ion-col>
                                <ion-col size="4" class="text-left">{{ variable.name }}</ion-col>
                            </ion-row>
                        }
                    }
        
                </ion-grid>

            </div>

        </ion-segment-content>

    </ion-segment-view>

</ion-content>