<ion-split-pane contentId="main-content" when="md">
  <ion-menu contentId="main-content" type="overlay">
    <ion-header>
      <ion-toolbar>
        <img src="assets/images/logo.svg" />
        <!-- <img [src]="regulatorInfo.data ? regulatorInfo.data.logo : 'assets/icon/favicon.png" /> -->
        <!-- <img [src]="regulatorInfo.data.logo" />
        @if (regulatorInfo) {
          <ion-title class="ion-text-wrap">{{ regulatorInfo.symbol }}</ion-title>
        }
        @else {
          <ion-title class="ion-text-wrap">Regulator Dashboard</ion-title>
        } -->
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list lines="none">
        <ion-item button routerLink="/authorized/dashboard" routerDirection="root" (click)="closeMenuOnMobile()">
          <svg class="w-8 h-8 text-gray-800 dark:text-white mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m4 12 8-8 8 8M6 10.5V19a1 1 0 0 0 1 1h3v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h3a1 1 0 0 0 1-1v-8.5"/>
          </svg>
          <ion-label>Home</ion-label>
        </ion-item>

        <ion-item button routerLink="/authorized/identities/list" routerDirection="root" (click)="closeMenuOnMobile()">
          <svg class="w-8 h-8 text-gray-800 dark:text-white mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 9h3m-3 3h3m-3 3h3m-6 1c-.306-.613-.933-1-1.618-1H7.618c-.685 0-1.312.387-1.618 1M4 5h16a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1Zm7 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"/>
          </svg>
          <ion-label>Identities</ion-label>
        </ion-item>

        <ion-item button routerLink="/authorized/ckyc/services/list" routerDirection="root" (click)="closeMenuOnMobile()">
          <svg class="w-8 h-8 text-gray-800 dark:text-white mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M4 5a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V5Zm16 14a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1v-2a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v2ZM4 13a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v6a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6Zm16-2a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v6Z"/>
          </svg>
          <ion-label>Services</ion-label>
        </ion-item>

        <ion-item button routerLink="/authorized/ckyc/validators/list" routerDirection="root" (click)="closeMenuOnMobile()">
          <svg class="w-8 h-8 text-gray-800 dark:text-white mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a28.076 28.076 0 0 1-1.091 9M7.231 4.37a8.994 8.994 0 0 1 12.88 3.73M2.958 15S3 14.577 3 12a8.949 8.949 0 0 1 1.735-5.307m12.84 3.088A5.98 5.98 0 0 1 18 12a30 30 0 0 1-.464 6.232M6 12a6 6 0 0 1 9.352-4.974M4 21a5.964 5.964 0 0 1 1.01-3.328 5.15 5.15 0 0 0 .786-1.926m8.66 2.486a13.96 13.96 0 0 1-.962 2.683M7.5 19.336C9 17.092 9 14.845 9 12a3 3 0 1 1 6 0c0 .749 0 1.521-.031 2.311M12 12c0 3 0 6-2 9"/>
          </svg>
          <ion-label>Validators</ion-label>
        </ion-item>

        <!-- <ion-item button routerLink="/authorized/issuers" routerDirection="root" (click)="closeMenuOnMobile()">
          <ion-icon name="globe-outline" slot="start"></ion-icon>
          <ion-label>Issuers</ion-label>
        </ion-item>
        <ion-item button routerLink="/authorized/assets/list" routerDirection="root" (click)="closeMenuOnMobile()">
          <ion-icon name="layers-outline" slot="start"></ion-icon>
          <ion-label>Assets</ion-label>
        </ion-item> -->

        <!-- ckcyc group -->
        <!-- <ion-accordion-group>
          <ion-accordion>
            <ion-item slot="header">
              <ion-icon name="person-circle-outline" slot="start"></ion-icon>
              <ion-label>cKYC</ion-label>
            </ion-item>
            <ion-item slot="content" class="sub-item" button routerLink="/authorized/operators/list" routerDirection="root" (click)="closeMenuOnMobile()">
              <ion-icon name="id-card-outline" slot="start"></ion-icon>
              <ion-label>Operators</ion-label>
            </ion-item>
            <ion-item slot="content" class="sub-item" button routerLink="/authorized/validators/list" routerDirection="root" (click)="closeMenuOnMobile()">
              <ion-icon name="finger-print-outline" slot="start"></ion-icon>
              <ion-label>Validators</ion-label>
            </ion-item>
            <ion-item slot="content" class="sub-item" button routerLink="/authorized/services/list" routerDirection="root" (click)="closeMenuOnMobile()">
              <ion-icon name="snow-outline" slot="start"></ion-icon>
              <ion-label>Services</ion-label>
            </ion-item>
          </ion-accordion>  
        </ion-accordion-group> -->

        <ion-item button routerLink="/authorized/system/logs" routerDirection="root" (click)="closeMenuOnMobile()">
          <svg class="w-8 h-8 text-gray-800 dark:text-white mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 4h3a1 1 0 0 1 1 1v15a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h3m0 3h6m-3 5h3m-6 0h.01M12 16h3m-6 0h.01M10 3v4h4V3h-4Z"/>
          </svg>
          <ion-label>Logs</ion-label>
        </ion-item>

        <ion-item button routerLink="/authorized/system/variables" routerDirection="root" (click)="closeMenuOnMobile()">
          <svg class="w-8 h-8 text-gray-800 dark:text-white mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 14H4m6.5 3L8 20m5.5-3 2.5 3M4.88889 17H19.1111c.4909 0 .8889-.4157.8889-.9286V4.92857C20 4.41574 19.602 4 19.1111 4H4.88889C4.39797 4 4 4.41574 4 4.92857V16.0714c0 .5129.39797.9286.88889.9286ZM13 14v-3h4v3h-4Z"/>
          </svg>
          <ion-label>System Variables</ion-label>
        </ion-item>

        <ion-item button routerLink="/authorized/system/profile" routerDirection="root" (click)="closeMenuOnMobile()">
          <svg class="w-8 h-8 text-gray-800 dark:text-white mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18Zm0 0a8.949 8.949 0 0 0 4.951-1.488A3.987 3.987 0 0 0 13 16h-2a3.987 3.987 0 0 0-3.951 3.512A8.948 8.948 0 0 0 12 21Zm3-11a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
          </svg>
          <ion-label>Profile</ion-label>
        </ion-item>


        <!-- system group -->
        <!-- <ion-accordion-group>
          <ion-accordion>
            <ion-item slot="header">
              <ion-icon name="cog-outline" slot="start"></ion-icon>
              <ion-label>System</ion-label>
            </ion-item>
            <ion-item slot="content" class="sub-item" button routerLink="/authorized/system/logs" routerDirection="root" (click)="closeMenuOnMobile()">
              <ion-icon name="search-outline" slot="start"></ion-icon>
              <ion-label>Logs</ion-label>
            </ion-item>
            <ion-item slot="content" class="sub-item" button routerLink="/authorized/system/variables" routerDirection="root" (click)="closeMenuOnMobile()">
              <ion-icon name="book-outline" slot="start"></ion-icon>
              <ion-label>Variables</ion-label>
            </ion-item>
            <ion-item slot="content" class="sub-item" button routerLink="/authorized/system/profile" routerDirection="root" (click)="closeMenuOnMobile()">
              <ion-icon name="person-circle-outline" slot="start"></ion-icon>
              <ion-label>Profile</ion-label>
            </ion-item>
          </ion-accordion>  
        </ion-accordion-group> -->

        
      </ion-list>
    </ion-content>
    
    <ion-footer>
      <ion-list>
        <ion-item button (click)="logout()" lines="none">
          <ion-label>Logout</ion-label>
          <svg class="w-8 h-8 text-gray-800 dark:text-white mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H8m12 0-4 4m4-4-4-4M9 4H7a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h2"/>
          </svg>
        </ion-item>
      </ion-list>

    </ion-footer>
  </ion-menu>
  
  <div id="main-content" class="ion-page">
    <ion-router-outlet></ion-router-outlet>
    <app-alert></app-alert>
    <app-loading></app-loading>
  </div>
</ion-split-pane>