<app-header title="Home"></app-header>

<div class="flex-grow container mx-auto p-1 bg-gray-300 pt-4 overflow-y-auto">

  @if(userInfo) {

    <div>
      <ion-title class="page-title text-gray-900">Welcome: {{ userInfo.name }}</ion-title>
    </div>

    <!-- non-admin view -->
    @if(userInfo.role != 1) {
  
      <!-- Info Bar -->
      <div class="bg-gray-800 text-white rounded-xl shadow-lg p-4 max-w-4xl mx-auto mb-12 block-watcher-bar">
        <div class="flex flex-col md:flex-row justify-around items-center space-y-4 md:space-y-0 text-center">
          <div class="flex-1">
            <p class="text-sm text-gray-400 uppercase tracking-wider">Current Block</p>
            <p class="text-1xl font-semibold mt-1">{{ currentBlock | number: '1.0-0' }}</p>
          </div>
          <div class="w-px h-8 bg-gray-600 hidden md:block"></div>
          <div class="flex-1">
            <p class="text-sm text-gray-400 uppercase tracking-wider">Trxs</p>
            <p class="text-1xl font-semibold mt-1">{{ currentTrxs | number: '1.0-0' }}</p>
          </div>
          <div class="w-px h-8 bg-gray-600 hidden md:block"></div>
          <div class="flex-1">
            <p class="text-sm text-gray-400 uppercase tracking-wider">Created On</p>
            <p class="text-1xl font-semibold mt-1">{{ currentBlockTimestamp * 1000 | date: 'yyyy-MM-dd HH:mm:ss' }}</p>
          </div>
        </div>
      </div>    
    
      <!-- Stats Cards -->
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mb-12 badges">
        @for (stat of stats(); track stat.title) {
          <div class="bg-white p-6 rounded-xl shadow-md border border-gray-200 flex items-center space-x-4 cursor-pointer hover:bg-indigo-100" (click)="goTo(stat.path)">
            <div class="bg-blue-100 p-3 rounded-full">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-blue-600" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
                <path stroke-linecap="round" stroke-linejoin="round" [attr.d]="stat.icon" />
              </svg>
            </div>
            <div>
              <p class="text-sm font-medium text-gray-500">{{ stat.title }}</p>
              <p class="text-1xl font-bold text-gray-800">{{ stat.value | number }}</p>
            </div>
          </div>
        }
      </div>
    
      <!-- Assets Table -->
      <!-- <div class="bg-white rounded-xl shadow-md border border-gray-200 overflow-hidden badges">
        <div class="px-6 py-4 bg-gray-600">
          <h2 class="text-xl font-semibold text-white">Top Moving Assets</h2>
        </div>
        <div class="overflow-x-auto">
          <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-400">
              <tr>
                <th scope="col" class="px-6 py-2">#</th>
                <th scope="col" class="px-6 py-2">Asset Name</th>
                <th scope="col" class="px-6 py-2">Symbol</th>
                <th scope="col" class="px-6 py-2 text-right">Circulating Supply</th>
              </tr>
            </thead>
            <tbody>
              @for (asset of assets(); track asset.symbol; let i = $index) {
                <tr class="bg-white border-b hover:bg-gray-50">
                  <th scope="row" class="px-6 py-2 font-medium text-gray-900 whitespace-nowrap">
                    {{ i + 1 }}
                  </th>
                  <td class="px-6 py-2">{{ asset.name }}</td>
                  <td class="px-6 py-2">
                    <span class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full">
                      {{ asset.symbol }}
                    </span>
                  </td>
                  <td class="px-6 py-2 text-right font-mono">{{ asset.circulating | number }}</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div> -->
  
    }

  }


  </div>

