<ion-content>
  <div class="form-container">
    
    <div class="form-logo">
      <img src="assets/images/logo.svg" alt="">
    </div>

    <div class="form-card">
      <div class="form-header">
        <h1>{{ 'forgotPassword.title' | translate }}</h1>
        <p>{{ 'forgotPassword.instructions' | translate }}</p>
      </div>

      <ion-list class="form-inputs">

        <ion-item lines="full" class="form-first">
          <ion-label position="floating">{{ 'forgotPassword.emailLabel' | translate }}</ion-label>
          <ion-input type="email" required></ion-input>
        </ion-item>

        <ion-item lines="full" class="form-last">
          <ion-label position="floating">{{ 'forgotPassword.passwordLabel' | translate }}</ion-label>
          <ion-input type="password" required></ion-input>
        </ion-item>

      </ion-list>

      <ion-button expand="block" class="form-button">{{ 'forgotPassword.submitButton' | translate }}</ion-button>

      <div class="form-links-center">
        <a routerLink="/public/user/login">{{ 'forgotPassword.backToLogin' | translate }}</a>
      </div>
  
    </div>
  
  </div>

</ion-content>